body{
    background-color:black;
    font-family: "Lucida Console", "Courier New", monospace;
}

#title{
    text-align: center;
    margin-left: 300px;
    margin-right: 20px;
    font-size: 90px;
    color: #f5b3cd;
}

#headingTitle{
    text-align: center;
    font-size: 50px;
    color: white;
    margin: auto;
}
#addEvent{
    border: none;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
}

#addEvent:hover {
    background-color:  #f5b3cd; 
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

.top{
    display: flex;
    align-items: center;
}

.eventList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
    width: 300px;
    border: 5px solid white;
    border-radius: 8px;
    padding: 50px;
    margin: auto;
}