body {
    font-family: "Lucida Console", "Courier New", Courier, monospace;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    text-align: center;
    margin: auto;
    font-size: 90px;
    color: #f5b3cd;
}

#headingTitle{
    text-align: center;
    font-size: 50px;
    color: white;
    margin: auto;
    padding: 50px;
}
#addEvent{
    border: none;
    background-color:#f6c7da;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
}

#addEvent:hover {
    background-color:  #f5b3cd; 
    font-family: "Lucida Console", "Courier New", monospace;
    cursor: grab; 
    color: white;
}

#attend{
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    color:  #f6c7da;
    margin-right: 10px;
    padding: 5px;
    width: 90%;
    border: 1px solid white;
    border-radius: 5px;
}

#attend:hover {
    background-color: #f6c7da;
    color:  black;
    cursor: grab;
}

.top{
    display: flex;
    align-items: center;
}

.eventList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

.eventList::-webkit-scrollbar {
    width: 8px;
}

.eventList::-webkit-scrollbar-track {
    background:#f6c7da; 
}

.eventList::-webkit-scrollbar-thumb {
    background: #f88ac0;
    border-radius: 10px;

}

.eventBox {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.outline{
    border: 5px solid  #f6c7da;
    padding: 10px;  
    border-radius: 5px;
}