<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css" />
    <script src = "script.js"></script>
    <title>Document</title>
</head>
<body>
    <div class = "container">
        <div class = "top">
            <h1 id = "title">ManGo Study</h1>
            <a href="{{ url_for('addEvent') }}" class="button" id="addEvent">Add Event</a>
        </div>
        <div class ="heading">
            <h2 id = "headingTitle">Study Sessions For UCI Students</h2>
        </div>

        <div class="eventList">
            {% for event in events %}
            <div class="outline">
            <div class="eventBox">
                <h2 class="name">{{ event[1] | replace("'", "") }}</h2>
                <p class="location">Location: {{ event[2] | replace("'", "") }}</p>
                <p class="schoolClass">Class: {{ event[3] | replace("'", "") }}</p>
                <p class="professor">Professor: {{ event[4] | replace("'", "") }}</p>
                <p class="major">Major: {{ event[5] | replace("'", "") }}</p>
                <p class="date">Date: {{ event[6] | replace("'", "") }}</p>
                <p class="time">Time: {{ event[7] | replace("'", "") }}</p>
                <p class="attendees">Attendees: {{ event[8] | replace("'", "") | replace("]", "") }}</p>
                <form action="/attend" method="POST">
                    <input type="hidden" name="event_id" value="{{ event[0] }}"> <!-- Pass the index as event_id -->
                    <button type="submit" id="attend">Attend</button>
                </form>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>